@tailwind base;
@tailwind components;

/* Custom component styles */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@tailwind utilities;

/* Custom utilities */
